.container {
  .banner {
    max-width: 1440px;
    height: 400px;
    margin: 0 auto;
    display: block;
  }

  .headerPost {
    max-width: 700px;
    margin: 80px auto 0 auto;

    h1 {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: -0.5px;
      color: var(--heading);
    }

    h2 {
      margin-top: 16px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 22px;
      text-align: justify;
      color: var(--body);
    }

    .info {
      display: flex;
      max-width: 700px;
      margin-top: 24px;

      div + div {
        margin-left: 24px;
      }

      div {
        display: flex;
        align-items: center;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: var(--info);

        svg {
          margin-right: 4px;
        }
      }
    }

    .updatedAt {
      margin-top: 16px;
      font-family: Inter;
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: var(--info);
    }
  }

  .article {
    max-width: 700px;
    margin: 64px auto 0 auto;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;

    text-align: justify;

    a {
      color: var(--highlight);
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }

    h1 {
      font-size: 36px;
      line-height: 50px;
      color: var(--heading);
    }

    div {
      margin-top: 24px;
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      color: var(--body);

      ul {
        padding: 16px 0 16px 16px;
        li {
          list-style: none;

        }
      }
    }

  }

  .divider {
    margin: 60px auto 48px auto;
    max-width: 700px;
    height: 0px;
    opacity: 0.1;
    border: 1px solid var(--body);
  }

  .paginationNavigate {
    display: flex;
    // justify-content: space-between;
    margin: 48px auto 80px auto;
    max-width: 700px;

    .prev_page {
      margin-right: auto;
    }

    .next_page {
      margin-left: auto;
    }


    span {
      display: flex;
      flex-direction: column;
      max-width: 162px;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.5px;
      color: var(--heading);

      & + span {
        text-align: right;
      }

      a {
        margin-top: 8px;
        font-family: Inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: var(--highlight);
      }
    }
  }

  .utteranc {
    max-width: 700px;
    margin: 0 auto 80px auto;
  }

  .preview {
    max-width: 700px;
    margin: 0 auto 80px auto;
    background: var(--heading);
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    a {

      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: justify;
      color: var(--background);
    }
  }
}


